.footer {
    min-height: 30px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
  }
  